/* Global Styles */
body, html {
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
    padding: 0;
    padding-top: 70px;
    background-color: #fff;
}
a {
    text-decoration: none;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#navbar.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

@media screen and (max-width: 1145px) {
    .nav-title {
        display: none;
    }

    .btn {
        font-size: 18px;
        margin-left: 20px;
    }
    #navbar .buttons {
        width: 50%;
        text-align: end;
    }
    #navbar .social-medias {
        text-align: start;
    }
    

    #photo-container {
        text-align: center;
    }

    .title mark{
        font-size: 0.7em;
    }

    .title {
        text-align: center;
    }

    .intro {
        flex-direction: column;
    }
    .intro .left-section {
        width: 100%;
    }

    .intro .right-section {
        width: 100%;
        padding-left: 0%;
    }
}

@media screen and (max-width: 720px) {
    #navbar .buttons {
        width: 100%;
        text-align: center;
    }
    #navbar .social-medias {
        display: none;
    }
}

#photo-container {
    text-align: center;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    padding: 15px;
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

/* Title */
.title {
    width: 30%;
    font-weight: 500;
    font-size: 1.6em;
    margin-left: auto;
    margin-right: auto;
    color: black;
}



/* Buttons */
.buttons {
    width: 30%;
}
.btn {
    color: black;
    font-size: 15px;
    text-decoration: none; /* Remove underline */
    margin: 5px;
}
.btn:hover {
    color: orange;
}

.btn-selected {
    color: orange;
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
}

.btn-link {
    text-decoration: underline;
    color: black;
    margin: 5px;
}

/* Social Media */
.social-medias {
    width: 30%;
    padding-right: 50px;
    text-align: end;
}
.footer-social-medias {
    width: 30%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.social-media {
    width: 25px;
    margin: 7px;
}


.intro {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.left-section {
    width: 50%;
    padding-right: 20px;
}

.right-section {
    width: 50%;
    padding-left: 20px;
    text-align: start;
}
.mail-sign {
    font-weight: 500;
    font-size: larger;
    margin-top: 60px;

}

.green-text {
    color: #A4C639;
}
.photo-accueil {
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.photos-accueil-container {
    text-align: center;
}

.footer-btn {
    margin: 30px;
}

.footer-title {
    margin-top: 100px;
}

.footer {
    text-align: center;
    justify-content: space-between;
    margin: 30px;
}

.footer-credits {
    margin: 20px;
    display: flex;
    flex-direction: column;

    
}


#my-photo {
    margin:20 px;
    margin-top: 30px;
}

#my-photo:hover {
    content: url(../data/img/a-propos/image05.jpeg);
}


#my-photo:active {
    content: url(../data/img/a-propos/image06.jpeg);
}




.photo-galery {
    width: 100%;
    margin: right 0;;
}

.logo-footer {
    height: 2em;
    width: 2em;
    margin-left: auto;
    margin-right: auto;

}
.logo-footer-link {
    height: 2em;
    width: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#a-propos-zoom {
    margin-top: 100px;
}

#my-photo-theatro {
    margin-top: 20px;
}

#my-photo-theatro:hover {
    content: url(/data/img/a-propos/image07.jpeg);
}