name: Deploy Site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
       # Puxa o c칩digo do reposit칩rio
      - name: Checkout code
        uses: actions/checkout@v3

      # Compacta o projeto excluindo .git
      - name: Criar ZIP do projeto
        run: |
          zip -r site.zip . -x ".git/*"

      # Envia o ZIP para o servidor e descompacta
      - name: Enviar e descompactar no servidor
        run: |
          mkdir -p $HOME/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" | tr -d '\r' > $HOME/.ssh/deploy_key
          chmod 600 $HOME/.ssh/deploy_key

          # Cria config SSH tempor치rio
          echo "Host alwaysdata
            HostName ssh-araujofj.alwaysdata.net
            User araujofj
            IdentityFile $HOME/.ssh/deploy_key
            IdentitiesOnly yes
            StrictHostKeyChecking no
            UserKnownHostsFile=/dev/null" > $HOME/.ssh/config

          # Envia o ZIP para o servidor
          scp -i $HOME/.ssh/deploy_key site.zip alwaysdata:/home/araujofj/www/

          # No servidor, descompacta o arquivo (sobrescreve arquivos existentes)
          ssh -i $HOME/.ssh/deploy_key alwaysdata "cd /home/araujofj/www && unzip -o site.zip && rm site.zip"

          # Remove arquivos tempor치rios
          rm $HOME/.ssh/deploy_key $HOME/.ssh/config site.zip
