name: Deploy Site

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v3


      - name: Configurar chave SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Sincronizar arquivos com o servidor

        run:  |
          echo "${{ secrets.DEPLOY_KEY }}" > deploy_key
          chmod 600 deploy_key
        
          rsync -avz --delete --exclude=".git" \
            -e "ssh -i deploy_key -o StrictHostKeyChecking=no -o IdentitiesOnly=yes" \
            ./ araujofj@ssh-araujofj.alwaysdata.net:/home/araujofj/www/

          rm deploy_key
