name: Deploy Site

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v3


      - name: Configurar chave SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Sincronizar arquivos com o servidor

        run:  |
          rsync -avz --delete \
          --exclude=".git" \
          -e "ssh -o StrictHostKeyChecking=no" \
          ./ araujofj@ssh-araujofj.alwaysdata.net:/home/araujofj/www/